In [4]:
import pandas as pd
import numpy as np
train_file_path = r"C:\Users\DJ\Desktop\Current Batch Project\Housing-Prediction-Machine-Learning\housing\artifact\data_ingestion\2022-07-08-23-25-40\ingested_data\train\housing.csv"
test_file_path = r"C:\Users\DJ\Desktop\Current Batch Project\Housing-Prediction-Machine-Learning\housing\artifact\data_ingestion\2022-07-08-23-25-40\ingested_data\test\housing.csv"

In [5]:
df = pd.read_csv(train_file_path)

In [7]:
df.columns[df.isna().sum()>0]

Index(['total_bedrooms'], dtype='object')

In [19]:
x,y = df.drop(['median_house_value'], axis=1),df.median_house_value

In [20]:
num_cols = x.drop(columns=['ocean_proximity'])
x.shape

(16512, 9)

In [28]:
num_cols

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042
1,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214
2,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621
3,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839
4,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347
...,...,...,...,...,...,...,...,...
16507,-118.13,34.20,46.0,1271.0,236.0,573.0,210.0,4.9312
16508,-117.56,33.88,40.0,1196.0,294.0,1052.0,258.0,2.0682
16509,-116.40,34.09,9.0,4855.0,872.0,2098.0,765.0,3.2723
16510,-118.01,33.82,31.0,1960.0,380.0,1356.0,356.0,4.0625
16511,-122.45,37.77,52.0,3095.0,682.0,1269.0,639.0,3.5750

In [15]:
y.shape

(16512,)

In [16]:
from sklearn.impute import SimpleImputer

In [42]:
# add_indicator -> True so that in future we can inverse tranform our data
simple_imputer = SimpleImputer(strategy="median", add_indicator=True)

In [43]:
simple_imputer.fit_transform(num_cols)

array([[-121.89  ,   37.29  ,   38.    , ...,  339.    ,    2.7042,
           0.    ],
       [-121.93  ,   37.05  ,   14.    , ...,  113.    ,    6.4214,
           0.    ],
       [-117.2   ,   32.77  ,   31.    , ...,  462.    ,    2.8621,
           0.    ],
       ...,
       [-116.4   ,   34.09  ,    9.    , ...,  765.    ,    3.2723,
           0.    ],
       [-118.01  ,   33.82  ,   31.    , ...,  356.    ,    4.0625,
           0.    ],
       [-122.45  ,   37.77  ,   52.    , ...,  639.    ,    3.575 ,
           0.    ]])

In [49]:
numerical_column=simple_imputer.transform(num_cols)

In [32]:
simple_imputer.indicator_

In [39]:
# median value of each cols
simple_imputer.statistics_

array([-118.51  ,   34.26  ,   29.    , 2119.5   ,  433.    , 1164.    ,
        408.    ,    3.5409])

In [41]:
simple_imputer.

['add_indicator',
 'copy',
 'fill_value',
 'missing_values',
 'strategy',
 'verbose']

In [45]:
x.ocean_proximity

0         <1H OCEAN
1         <1H OCEAN
2        NEAR OCEAN
3            INLAND
4         <1H OCEAN
            ...
16507        INLAND
16508        INLAND
16509        INLAND
16510     <1H OCEAN
16511      NEAR BAY
Name: ocean_proximity, Length: 16512, dtype: object

In [50]:
x.ocean_proximity.value_counts()

<1H OCEAN     7276
INLAND        5263
NEAR OCEAN    2124
NEAR BAY      1847
ISLAND           2
Name: ocean_proximity, dtype: int64

In [46]:
categorical_col = x.ocean_proximity

In [47]:
simple_imputer_1 = SimpleImputer(strategy="most_frequent", add_indicator=True)

In [48]:
simple_imputer_1.fit(x)

ValueError: Expected 2D array, got 1D array instead:
array=['<1H OCEAN' '<1H OCEAN' 'NEAR OCEAN' ... 'INLAND' '<1H OCEAN' 'NEAR BAY'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

# Custom Transformer

In [53]:
from sklearn.base import BaseEstimator, TransformerMixin
class FeatureGenerator(BaseEstimator, TransformerMixin):
    
    def __init__(self, stratergy="mean"):
        self.stratergy = stratergy

    def fit(self, X):
        self.med = []
        for column in X.columns:
            self.med.append(X[column].median())


    def transform(self, X):
        for idx, column in enumerate(X.columns):
            X[column].fillna(self.med[idx], inplace=True)

        return X

    def fit_transform(self, X):
        self.fit(X)
        return self.transform(X)

In [54]:
# Transformer mixing:
# Base Estimator: 
# sklearn base classs for all estimators for inheriting functions like fit, transform, get_param  without writing code
# just include fit and transform functions

In [55]:
# class FeatureGenerator(BaseEstimator, TranformerMixin)

In [57]:
# creating separate pipelines for numerical and categorical cols transformation in sequence

# for each pipeline, we specify the column name
# then the column transformer perform the transformation for different col based on the pipeline and the column passed
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
# dill library to save model

In [2]:
x

NameError: name 'x' is not defined

In [9]:
list(df.columns[df.isna().sum()>0])

['total_bedrooms']